@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    font-family: 'Poppins';
}

.content, .sidebar{
    width: 100%;
    height: 300px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.5s ease-in-out;
    cursor: pointer;
    flex-shrink: 1;
    flex-grow: 1;
}

.content{
    background-color: steelblue;
}

.sidebar{
    background-color: darksalmon;
}

.content:hover, .sidebar:hover{
    background-color: grey;         
}

@media  screen and (min-width: 768px) {
    .container{
        display: flex;
    }
    .content{
        width: 70%;
    }
    .sidebar{
        width: 30%;      
    }

    .col{
        width: 8.33%;
    }

    .content:hover, .sidebar:hover{
        width: 50%;  
    }
}