@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';    
}

.content,
.sidebar {
    width: 100%;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.5s ease-in-out;
    cursor: pointer;
    flex-shrink: 1;
    flex-grow: 1;
}

.content {
    background-color: steelblue;
}

.sidebar {
    background-color: darksalmon;
}

.content:hover,
.sidebar:hover {
    background-color: grey;
}

nav {
    display: flex;
    justify-content: center;
    padding: 32px;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

nav a li {
    padding: 16px 32px;
    border: 1px solid grey;
    width: 100px;
    text-align: center;
    transition: 0.5s all ease-in-out;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: rgb(35, 35, 35);
}

nav a li:hover {
    background-color: grey;
    color: white;
}


@media screen and (min-width: 768px) {
    .container {
        display: flex;
    }

    .content {
        width: 70%;
    }

    .sidebar {
        width: 30%;
    }

    .col {
        width: 8.33%;
    }

    .content:hover,
    .sidebar:hover {
        width: 50%;
    }
}